.cart {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  color: #1d1d1d;
}

.icon {
  font-size: 1.8rem;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #f8a94d;
  color: #1d1d1d;
  padding: 2px 6px;
  font-size: 0.75rem;
  border-radius: 50%;
  font-weight: bold;
}
