.search {
  position: relative;
  margin-left: 20px;
}

.search input {
  height: 20px;
  width: 1000px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.searchResults {
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.searchResults li {
  padding: 5px 10px;
  cursor: pointer;
}

.searchResults li:hover {
  background-color: #f0f0f0;
}
